<h1>Category#details</h1>

title <%= @category.title %>
debit <%= @category.debit %>
people.length <%= @category.people.length %>
f date <%= @first_date %>
s date <%= @second_date %>
<%= form_with local: true do |f| %>
  <%= f.date_field :first_date%>
  <%= f.date_field :second_date%>
  <%= f.submit "Submit!"%>
<% end %>


<% @transactions.each do |transaction| %>
  <p>
    money_amount = <%= transaction.money_amount %><br>
    person = <%= transaction.person_category.person.name %><br>
    category = <%= transaction.person_category.category.title %> debit  <%= transaction.person_category.category.debit %><br>
    <br>
  </p>
<% end %>

