<h1>Category details</h1>

title: "<%= @category.title %>"<br>
debit: <%= @category.debit %><br>
owners amount: <%= @category.people.length %><br>
first date: <%= @first_date %><br>
second date: <%= @second_date %><br>
<%= form_with local: true do |f| %>
  <%= f.date_field :first_date, value: @first_date%>
  <%= f.date_field :second_date, value: @second_date%>
  Only with note <%= f.check_box :only_with_note%>
  Only important <%= f.check_box :only_with_important%>
  <%= f.submit "Submit"%>
<% end %>

<h2>Results:</h2>

<% @transactions.each do |transaction| %>
  <p>
    money_amount = <%= transaction.money_amount %><br>
    person = <%= transaction.person_category.person.name %><br>
    category = <%= transaction.person_category.category.title %> debit  <%= transaction.person_category.category.debit %><br>
    important = <%= transaction.important %> <br>
    <% if transaction.note_id.present? %>
      note = <%= transaction.note.body %><br>
    <% end %>
  </p>
<% end %>

