<h1>Important transactions</h1>

<%= link_to 'Back', "/transactions" %>

<% @transactions.each do |transaction| %>
  <p>
    money amount: <%= transaction.money_amount %><br>
    person: "<%= transaction.person_category.person.name %>"<br>
    category: "<%= transaction.person_category.category.title %>"<br>
    debit: <%= transaction.person_category.category.debit %><br>
    <% if transaction.note_id.present? %>
      note: "<%= transaction.note.body %>"<br>
    <% end %>
  </p>
<% end %>